.avatar-container {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.avatar-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #4caf50;
}